* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../assets/message-bg-red.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}